* {
    font-family: "Open Sans";
    text-decoration: none;
}

body {
    background: var(--020-a-18, #020A18);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header {
    display: inline-flex;
    width: 100vw;
    height: 75px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

h3 {
    color: var(--3-a-68-b-8, #3A68B8);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    text-transform: uppercase;
}

h1 {
    color: var(--ffffff, #FFF);
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 71.5px */
}

h5 {
    color: var(--ffffff, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
}

button {
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    height: 60px;
}

.top_buttons {
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 20px;
    height: 87px;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;
}

.polygon {
    width: 27px;
    height: 26px;
    transform: rotate(90deg);
}

.top_logo {
    display: inline-flex;
    gap: 72px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.imaging {
    max-width: 410px;
    max-height: 410px;
}

.top_info {
    padding: 84px;
    max-width: 40%
}

.top_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}